IES_server_package/BubbleDrawingAutomationWeb/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://np1appn143v.corp.halliburton.com:8729/Design_Time_Addresses/EngrDrwTIFService/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://np1appn143v.corp.halliburton.com:8729/Design_Time_Addresses/EngrDrwTIFService/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HesCapeWS" />
  <xs:complexType name="ArrayOfNameRevStruct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NameRevStruct" type="tns:NameRevStruct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNameRevStruct" nillable="true" type="tns:ArrayOfNameRevStruct" />
  <xs:complexType name="NameRevStruct">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Revision" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NameRevStruct" nillable="true" type="tns:NameRevStruct" />
  <xs:complexType name="EngrDrwPkt">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileObjects" nillable="true" type="tns:ArrayOfFileObj" />
      <xs:element minOccurs="0" name="NameRev" type="tns:NameRevStruct" />
      <xs:element minOccurs="0" name="WasCheckedOut" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EngrDrwPkt" nillable="true" type="tns:EngrDrwPkt" />
  <xs:complexType name="ArrayOfFileObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileObj" nillable="true" type="tns:FileObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileObj" nillable="true" type="tns:ArrayOfFileObj" />
  <xs:complexType name="FileObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HesCapeWS" minOccurs="0" name="FileFmt" type="q1:MxFileFormats" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileObj" nillable="true" type="tns:FileObj" />
</xs:schema>