IES_server_package/BubbleDrawingAutomationWeb/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://np1appn143v.corp.halliburton.com:8729/Design_Time_Addresses/EngrDrwTIFService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" />
  <xs:import schemaLocation="http://np1appn143v.corp.halliburton.com:8729/Design_Time_Addresses/EngrDrwTIFService/Service1/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RetCachedList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetCachedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" minOccurs="0" name="RetCachedListResult" nillable="true" type="q1:ArrayOfNameRevStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DrawingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DrawingRev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MakePDF" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" minOccurs="0" name="AddToCacheResult" type="q2:NameRevStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetDrawingPkt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" minOccurs="0" name="EngrDrwNameRev" type="q3:NameRevStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetDrawingPktResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" minOccurs="0" name="RetDrawingPktResult" nillable="true" type="q4:EngrDrwPkt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetDrawingPkt2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DrawingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DrawingRev" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetDrawingPkt2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" minOccurs="0" name="RetDrawingPkt2Result" nillable="true" type="q5:EngrDrwPkt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetDrawingPktPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" minOccurs="0" name="EngrDrwNameRev" type="q6:NameRevStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetDrawingPktPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" minOccurs="0" name="RetDrawingPktPDFResult" nillable="true" type="q7:EngrDrwPkt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetDrawingPktPDF2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DrawingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DrawingRev" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetDrawingPktPDF2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" minOccurs="0" name="RetDrawingPktPDF2Result" nillable="true" type="q8:EngrDrwPkt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrwPDFPaths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EngrDrwTIFService" minOccurs="0" name="NameRev" type="q9:NameRevStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrwPDFPathsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DrwPDFPathsResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>